<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strategair.common">

    <application>
        <activity
            android:name=".component.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeX"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>
