<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strategair.strategy.me">

    <application>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/ImmersiveTheme" />

        <activity
            android:name=".view.GeneralActivity"
            android:label="@string/general"
            android:theme="@style/ImmersiveTheme" />

        <activity
            android:name=".view.PrivacyActivity"
            android:label="@string/privacy"
            android:theme="@style/ImmersiveTheme" />

        <activity
            android:name=".view.FeedbackActivity"
            android:label="@string/help_and_feedback"
            android:theme="@style/ImmersiveTheme" />

        <activity
            android:name=".view.AboutActivity"
            android:label="@string/about_us"
            android:theme="@style/ImmersiveTheme" />
    </application>

</manifest>
